/* --COLORS-- */
/* orange #ff6102 */
/* blue #01eaef */
/* smoke #060709 */

/* FONTS */
/* Quicksand & Raleway */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Raleway:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #060709;
}
.max-width {
  max-width: 1900px;
  padding: 0px 0px 0px 0px;
}

  /* Navbar Styling */


  .logo img {
    width: 70%;
    height: 50%;
  }

.portfolio p span {
  color: gold;
  }
.portfolio {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding: 0px 0px 0px 50px;
}
.gallery p span {
  color: #ff5f00;
  }
.gallery {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  font-weight: 600;
  padding: 0px 0px 0px 50px;
}

.navbar {
  background: #01eaef;
  font-family: 'Quicksand', sans-serif;
  padding: 0px 0px 0px 0px;
  width: 100%;
}
.navbar .max-width {
  display: flex;
  align-items: center;
}
.navbar .menu {
  padding-left: 500px;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: black;
  font-size: 30px;
  margin: 20px;
  transition: 0.3s ease;
}
.navbar .menu li a:hover {
  background-color: gold;
  color: white;
  font-weight: 600;
}
.navbar .menu .active {
  background-color: gold;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.navbar .gall-menu {
  padding-left: 500px;
}
.navbar .gall-menu li {
  list-style: none;
  display: inline-block;
}
.navbar .gall-menu li a {
  color: black;
  font-size: 30px;
  margin: 20px;
  transition: 0.3s ease;
}
.navbar .gall-menu li a:hover {
  background-color: #ff6102;
  color: white;
  font-weight: 600;
}
.navbar .gall-menu .active {
  background-color: #ff6102;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}


/* NAME STYLING */

.name {
  display: flex;
  background: url("../images/dosepaint.png") no-repeat center;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  color: white;
  min-height: 500px;
}
.name .max-width {
  margin: auto 0 auto 40px;
}
.name .textline-1 {
  font-size: 27px;
}
.name .textline-2 {
  font-size: 75px;
  font-weigth: 600;
  margin-lef: -3px
}
.name .textline-3 {
  font-size: 40px;
  margin: 5px 0;
}
.name .textline-3 span {
  color: gold;
}

/* ABOUT ME */

.aboutme {
  background-color: red;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.aboutme h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 600;
}

/* GALLERY */

.goodvibes img {
  border: 2px solid #ddd;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.mywork img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}
.mywork img:hover {
  border: 5px solid #5ced00;
}

  /* FOOTER */
  .footer{
    background: url("../images/water.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
    margin-top: 50px;
  }
