* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

#grid {
  background-image: url(../../images/rrMartin/bg2.jpg);
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: grid;
  gap: 5px 5px;
  text-align: center;
  grid-template-columns: 1fr 333px 667px 1fr;
  grid-template-areas:
  ". Header Header ."
  ". navbar navbar ."
  ". banner banner ."
  ". topCol topCol ."
  ". leftCol blogCol ."
  ". leftCol blogCol ."
  ". foot foot ."
}
#grrmSearch {
  background-color: #;
}
#buttonS {
  background-color: navy;
}
.Header {
  grid-area: Header;
}
.navbar {
  grid-area: navbar;
  padding: 5px;
}
.navbar ul {
  font-size: 13px;
  display: flex;
  flex-direction: row;
}
.navbar li {
  flex: 1;
  text-align: center;
}
.navbar li a {
  color: black;
  font-size: 17px;
  font-weight: bold;
  margin: auto;
  text-decoration: none;
  transition: 0.3s ease;
}
.navbar li:hover {
  background-color: dimgrey;
  color: white;
  padding: 5px;
}
.navbar li:hover a {
  color: white;
}
.banner-container {
  grid-area: banner;
  margin: auto;
  max-width: 1000px;
  position: relative;
}
.banner-container img {
  vertical-align: middle;
}

.prev, .next {
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
  margin-top: -22px;
  padding: 16px;
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  top: 50%;
  transition: 0.6s ease;
  width: auto;
  user-select: none;
}
.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.active, .dot:hover {
  background-color: #717171;
}
.topCol {
  display: flex;
  flex-direction: row;
  grid-area: topCol;
  height: 100%;
  position: relative;
  justify-content: center;
}
.leftCol {
  border: 4px solid dimgrey;
  border-radius: 3px;
  grid-area: leftCol;
  height: 100%;
}
.block1 {
  background-image: url(../../images/rrMartin/leftcol1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 3px;
}
.block1 span {
  color: yellow;
  font-weight: bold;
}
.block1 p a {
  color: silver;
}
.block1 p a:hover {
  color: white;
}
.block2 {
  background-image: url(../../images/rrMartin/leftcol2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 15px;
  margin: 3px;
}
.block3,
.block4,
.block5 {
  padding: 3px;
  margin: 1px;
}
.blogCol {
  background-color: #FFFFF0;
  border: 4px solid dimgrey;
  border-radius: 3px;
  padding: 0px 0px 0px 0px;
  grid-area: blogCol;

}
.blogCol h2 {
  padding: 30px 0px 0px 30px;
}
.blogCol li a {
  color: #1c4268;;
  font-weight: bold;
  text-decoration: none;
}
.row {
  padding-left: 30px;
}
.foot {
  background-image: url(../../images/rrMartin/footer-bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: foot;
  padding: 50px;
  text-align: center;
}

@media screen and (max-width: 799px) {
  #grid {
    background-image: url(../../images/rrMartin/bg2.jpg);
    border: 3px solid red;
    display: grid;
    gap: 5px 5px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "Header"
    "navbar"
    "banner"
    "topCol"
    "blogCol"
    "leftCol"
    "foot"
  }
  .topheader1 {
    display: flex;
    flex-direction: row;
  }
  .topheader1 img:nth-child(2){
    height: auto;
    width: 85%;
  }
  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .navbar ul {
    font-size: 25px;
    display: flex;
    flex-direction: column;
  }
  .banner-container {
    width: 100%;
  }
  .col {
    width: 100%;
  }
  .topCol {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .block1 {
    height: 200px;
    padding: 30px 0px 0px 30px;
  }
  .block2 {
    height: 200px;
    padding: 30px 0px 0px 30px;
  }
  .foot {
    padding: 40px;
    grid-area: foot;
  }

}
