* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

#grid {
  background-image: url(../../images/rrMartin/bg2.jpg);
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */
  display: grid;
  gap: 5px 5px;
  grid-template-columns: 1fr, 1fr;
  grid-template-areas:
  "header header"
  "navbar navbar"
  "banner banner"
  "topCol topCol"
  "leftCol blogCol"
  "leftCol blogColl"
  "footer footer"
}
.header {
  background-color: #ddd;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  grid-area: header;
}
.navbar {
  background-image: url(../../images/rrMartin/#);
  grid-area: navbar;
  padding: 5px;
}
.navbar ul {
  font-size: 13px;
  display: flex;
  flex-direction: row;
}
.navbar li {
  flex: 1;
  text-align: center;
}
.navbar li a {
  color: black;
  font-size: 17px;
  font-weight: bold;
  margin: auto;
  text-decoration: none;
  transition: 0.3s ease;
}
.navbar li a:hover {
  background-color: #ddd;
  color: black;
}
.bSlides {
  /* display: none; */
}
.banner-container {
  grid-area: banner;
  margin: auto;
  max-width: 1000px;
  position: relative;
}
.banner-container img {
  vertical-align: middle;
}

.prev, .next {
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
  margin-top: -22px;
  padding: 16px;
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  top: 50%;
  transition: 0.6s ease;
  width: auto;
  user-select: none;
}
.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.active, .dot:hover {
  background-color: #717171;
}
.topCol {
  display: flex;
  flex-direction: row;
  grid-area: topCol;
  height: 100%;
  position: relative;
  justify-content: center;
}
.leftCol {
  border: 4px solid dimgrey;
  border-radius: 3px;
  grid-area: leftCol;
  height: 100%;
}
.block1 {
  background-image: url(../../images/rrMartin/leftcol1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 3px;
}
.block1 span {
  color: yellow;
  font-weight: bold;
}
.block1 p a {
  color: silver;
}
.block1 p a:hover {
  color: white;
}
.block2 {
  background-image: url(../../images/rrMartin/leftcol2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white  padding: 15px;
  margin: 3px;
}
.block3,
.block4,
.block5 {
  background-color: #00008b;
  padding: 3px;
  margin: 3px;
}
.blogCol {
  background-color: #FFFFF0;
  border: 4px solid dimgrey;
  border-radius: 3px;
  padding: 0px 0px 0px 0px;
  grid-area: blogCol;

}
.blogCol h2 {
  padding: 30px 0px 0px 30px;
}
.blogCol li a {
  color: #1c4268;;
  font-weight: bold;
  text-decoration: none;
}
.row {
  padding-left: 30px;
}
.footer {
  background-image: url(../../images/rrMartin/footer-bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: footer;
  padding: 50px;
  text-align: center;
}
